<tr>
	<td><%= link_to associate.name, associate %></td>
	<td><%= associate.email %></td>
	<td><%= link_to associate.group.name, associate.group %></td>
	<% if current_associate?(associate) || current_associate.admin? %>
		<td><%= link_to 'Edit', edit_associate_path(associate) %></td>
    <td><%= link_to 'Delete', associate, method: :delete, data: { confirm: "You sure?" } %></td>
    <% end %>
</tr>